# .NET и Visual Studio
*.obj
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.pyc
*.ipch
*.swp
*.sln.docstates

# Проект среды разработки
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Bb]uild/
[Bb]uilds/
[Ii]ntermediate/
[Tt]emp/
[Tt]emporary/
[Tt]est[Rr]esults/
[Bb]uild[Ll]og.*
*[Pp]ublish/
*pubxml
*PublishProfiles/
*.publishsettings
$tf/
*.VC.db
*.VC.VC.opendb

# Rider
.idea/

# Файлы проекта Unity
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Tt]emp/
[Tt]emporary[Cc]ache/
[Tt]emp[Cc]ache/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
Mettings/
[Tt]est[Rr]esults/
[Oo]bjTest/
[Oo]bjTest[Rr]esults/
test[Rr]esults/
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.VC.opendb

# Rider и Visual Studio Code
.idea/
.vscode/
Lesson7.csproj
